@tailwind base;

@tailwind components;


@font-face {
  font-family: 'hiragino-w4';
  src: url('../fonts/HiraginoSansW4.otf');
}

@font-face {
  font-family: 'myanmar-regular';
  src: url('../fonts/NotoSerifMyanmar-Regular.ttf');
}

@font-face {
  font-family: 'slabo27px-regular';
  src: url('../fonts/Slabo27px-Regular.ttf');
}

@tailwind utilities;


html {
  font-size: calc(100vw / 1440);
}

body {
  font-size: 16rem;
}

.content-wrap {
  width: 1200px;
  margin: auto;
}

/* header begin */

.l-header {
  padding: 53px 62rem 38px 92rem;

  .logo a {
    font-size: 22px;
    line-height: 65px;
    span {
      font-size: 27px;
      margin-left: 15px;
    }
  }

  .nav-pc {
    ul {
      li {
        padding: 20px 28px;
        a {
          display: block;
          font-size: 15px;
          position: relative;
          padding: 7px 4px;
          &::after {
            content: '';
            /*絶対配置で線の位置を決める*/
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 2px;
            background:black;
            /*アニメーションの指定*/
            transition: transform 0.25s cubic-bezier(0.65, 0, 0.35, 1);
            transform: scale(0, 1);/*X方向0、Y方向1*/
            transform-origin: right;
            transform-origin: center top;/*上部中央基点*/            
          }
          &:hover::after {
            transform: scale(1, 1);/*X方向にスケール拡大*/
          }
        }
      }
    }
    .header-mail-btn {
      width: 188px;
      font-size: 15px;
      margin-left: 28px;
      img {
        width: 21px;
        height: fit-content;
        margin-right: 15.4px;
      }
    }
  }
}

@screen xl {
    
  .l-header {
    padding: 33px 42rem 28px 52rem;

    .logo a {
      font-size: 18px;
      line-height: 60px;
      span {
        font-size: 23px;
        margin-left: 12px;
      }
    }

    .nav-pc {
      ul {
        li {
          padding: 16px 16px;
          a {
            font-size: 13px;
            padding: 5px 3px;
          }
        }
      }
      .header-mail-btn {
        width: 168px;
        font-size: 13px;
        margin-left: 20px;
        img {
          width: 16px;
          margin-right: 15.4px;
        }
      }
    }
  }
  /* Main menu positionning */
  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
  }

  .main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }

  /* Yellow band effect */
  .main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #00A7FF;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
  }

  .main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
  }

  /* Skewing effect on menu links */
  .main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: center;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
  }

  .main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
  }

  /* Apparition effect on links */
  .main-nav a {
    opacity: 0;
    transform: translateY(-10px);
  }

  .main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
  }
  .main-nav li:nth-child(1) a {
    transition: all 275ms 175ms
  }
  .main-nav li:nth-child(2) a {
    transition: all 275ms 225ms
  }
  .main-nav li:nth-child(3) a {
    transition: all 275ms 275ms
  }
  .main-nav li:nth-child(4) a {
    transition: all 275ms 325ms
  }
  .main-nav li:nth-child(5) a {
    transition: all 275ms 375ms
  }


  /* Decoration */
  .main-nav ul,
  .main-nav li {
    list-style: none;
    padding: 0;
  }
  .main-nav a {
    display: block;
    padding: 23px 0;
    color: white;
    font-size: 20px!important;
    text-decoration: none;
    font-weight: bold;
  }

  /* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
  .open-main-nav {
    position: absolute;
    top: 25px;
    padding-top: 20px;
    right: 25px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
  }
  .open-main-nav:focus {
    outline: none;
  }
  .burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: black;
    transform: skew(5deg);
    transition: all .275s;
  }

  .burger:after,
  .burger:before {
    content: '';
    display: block;
    height: 100%;
    background: black;
    transition: all .275s;
  }

  .burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
  }

  .burger:before {
    transform: translateY(-16px) skew(-10deg);
  }

  /* Toggle State part */
  .is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
  }

  .is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
  }

  .is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
  }

  /* MENU Text part */

  .burger-text {
    display: block;
    font-size: 9px;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: black;
  }

  .device {
    position: relative;
    width: 345px;
    height: 600px;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(0,0,0,.1);
  }

  .container {
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #eee, #ddd);
  }

}

/* header end */


/* hero begin */

.hero-swiper-container {
  background: #003978;
  margin-top: -593px;
  .swiper-wrapper {
    .swiper-slide {
      -webkit-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out;
      pointer-events: none;
      .swiper-img {
        height: 595px;
        background-size: cover;
        -webkit-transition: transform 2s cubic-bezier(1,0,1,0);
        -webkit-transition: -webkit-transform 2s cubic-bezier(1,0,1,0);
        transition: -webkit-transform 2s cubic-bezier(1,0,1,0);
        transition: transform 2s cubic-bezier(1,0,1,0);
        transition: transform 2s cubic-bezier(1,0,1,0),-webkit-transform 2s cubic-bezier(1,0,1,0);
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
        will-change: transform;
        &-01 {
          background-image: url(../image/bg_hero_01.png);
        }
        &-02 {
          background-image: url(../image/bg_hero_02.jpg);
        }
        &-03 {
          background-image: url(../image/bg_hero_03.jpg);
        }
      }
    }

    .swiper-slide-active .swiper-img, .swiper-slide-duplicate-active .swiper-img, .swiper-slide-prev .swiper-img {
      -webkit-transition: transform 10s linear;
      -webkit-transition: -webkit-transform 10s linear;
      transition: -webkit-transform 10s linear;
      transition: transform 10s linear;
      transition: transform 10s linear,-webkit-transform 10s linear;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
}

.l-hero {
  margin-bottom: 250px;
  .content-wrap {
    height: 593px;
  }
  h1 {
    font-size: 75px;
    line-height: 120px;
    left: 0;
    bottom: -101px;
    font-family: "Noto Serif Myanmar";

  }
  .swiper-pagination {
    top: 703px;
    .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
      display: inline-block;
      border-radius: 50%;
      background: #000;
      opacity: .2;
      margin: 0 11px;
      &-active {
        opacity: 1;
        background: #00A7FF;
      }
    }
  }
  .scroll-down {
    bottom: -120px;
    right: 140px;
  }
}



/* hero end */


/* company begin */

.l-company {
  background-image: url(../image/bg_company.png);
  padding: 53px 0 72px 0;
  h1 {
    font-size: 30px;
    letter-spacing: 0.2em;
  }
  .company-ttl-img {
    top: -88px;
    right: 53px;
    width: 772px;
  }
  .company-line {
    width: 61.13px;
    height: 0px;
    background: transparent;
    border-bottom: 3px solid #00a7ff;
  }
  p {
    font-size: 17px;
    letter-spacing: 0.1em;
    line-height: 60px;
    margin-top: 71.5px;
  }
  /*== ボタン共通設定 */
  .company-btn{
    background-color: #00A7FF;
    font-size: 17px;
    letter-spacing: 0.1em;
    padding: 30px 23px 30px 47px;
    margin: 154px 0 0 200px;
    border: 1px solid transparent;
    /*アニメーションの指定*/   
    transition: ease .2s;
    /*ボタン内spanの形状*/
    span {
      z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
      color:#fff;
    }
    &:hover {
      border: 1px solid #00A7FF;
      span {
        color:#00A7FF;
      }
    } 
  }


  /*== 背景が流れる（斜め） */
  .bgskew::before {
    content: '';
      /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: -130%;
      /*色や形状*/
    background:#fff;
    width:120%;
    height: 100%;
    transform: skewX(-25deg);
  }

  /*hoverした時のアニメーション*/
  .bgskew:hover::before {
    animation: skewanime .5s forwards;/*アニメーションの名前と速度を定義*/
  }

  @keyframes skewanime {
    100% {
      left:-10%;/*画面の見えていない左から右へ移動する終了地点*/
    }
  }
}



/* company end */



/* business begin */

.l-business {
  padding-top: 139px;
}

.business-swiper-container {
  background: #003978;
  .swiper-wrapper-img {
    .swiper-slide {
      -webkit-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out;
      pointer-events: none;
      .swiper-img {
        height: 467px;
        background-size: cover;
        &-01 {
          background-image: url(../image/bg_business_01.png);
        }
        &-02 {
          background-image: url(../image/bg_business_02.jpg);
        }
        &-03 {
          background-image: url(../image/bg_business_03.png);
        }
        &-04 {
          background-image: url(../image/bg_business_04.jpg);
        }
        &-05 {
          background-image: url(../image/bg_business_05.png);
        }
        &-06 {
          background-image: url(../image/bg_business_06.jpg);
        }
        &-07 {
          background-image: url(../image/bg_business_07.png);
        }
      }
    }
  }
  .swiper-button-prev-business, .swiper-button-next-business {
    width: 207px;
    height: 68px;
    background: #00a7ff;
    color: white;
    font-size: 19px;
    letter-spacing: 0.2em;
    border: 0.5px solid #fff;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 19px;
    font-family: 'hiragino-w4';
    position: absolute;
  }
  .swiper-button-next-business {
    right: 218rem;
    top: 193px;
    &:after {
      content: '>';
      right: 36px;
    }
  }
  .swiper-button-prev-business {
    right: 218rem;
    top: 260px;
    left: unset;
    &:after {
      content: '<';
      left: 36px;
    }
  }
}

.text-swiper-container {
  width: 627px;
  height: 272px;
  background: #fff;
  border: 1px solid #00a7ff;
  margin-left: calc(100% - 218rem - 627px)!important;
  margin-top: -134px;
  .swiper-wrapper-text {
    .swiper-slide {
      padding: 58px 0 0 89px;
      h1 {
        font-size: 26px;
        font-family: 'hiragino-w4';
        letter-spacing: 0.2em;
      }
      p {
        font-size: 15px;
        line-height: 40px;
        font-family: 'myanmar-regular';
        margin-top: 30px;
      }
    }
  }
}
.swiper-pagination-text {
  margin-left: calc(100% - 218rem - 627px - 3.15px)!important;
  margin-top: 5px!important;
  .swiper-pagination-bullet {
    width: 55px;
    height: 4px;
    display: inline-block;
    background: #707070;
    border-radius: unset;
    opacity: 1;
    margin: 0 3.15px;
    &-active {
      opacity: 1;
      background: #00A7FF;
    }
  }
}

/* business end */

/* work begin */

.l-work {
  padding: 258px 0 77px 219rem;
  h1 {
    font-size: 30rem;
    letter-spacing: 0.2em;
  }
  .work-ttl-img {
    bottom: 0rem;
    left: 219rem;
    width: 508rem;
  }
  .work-line {
    width: 61.13rem;
    height: 0rem;
    background: transparent;
    border-bottom: 3rem solid #00a7ff;
  }
  article {
    .swiper-container-work {
      width: 975rem;
      margin-left: calc(100% - 975rem);
      margin-right: unset;
      .swiper-wrapper-work {
        .work-article {
          figure img {
            width: 100%;
          }
          &-info {
            margin: 18rem 0 12rem 0;
            .work-article-category {
              font-size: 15rem;
              letter-spacing: 0.1em;
              line-height: 1;
              padding: 5rem 7rem;
              margin-right: 15rem;
            }
            .work-article-date {
              font-size: 15rem;
              letter-spacing: 0.1em;
            }
          }
          &-ttl {
            font-size: 18rem;
            letter-spacing: 0.1em;
          }
        }
      }
    }
    .swiper-button-prev-work, .swiper-button-next-work {
      width: 52rem;
      height: 52rem;
      background: #fff;
      font-size: 19rem;
      border-radius: 50%;
    }
    .swiper-button-next-work {
      right: 58rem;
      top: 119rem;
      color: #2abaaa;
      border: 0.5rem solid #2abaaa;
      &:after {
        content: '';
      }
    }
    .swiper-button-prev-work {
      top: 119rem;
      left: 130rem;
      color: #00a7ff;
      border: 0.5rem solid #00a7ff;
      &:after {
        content: '';
      }
    }
  }
}

/* work end */

/* info begin */

.l-info {
  padding: 180px 0 198px 0;
  .content-wrap {
    padding: 0 68px;
  }
  .info-main {
    left: 0;
    right: 0;
    top: 95px;
    margin: auto;
    width: 321px;
    height: 321px;
    h1 {
      font-size: 30px;
      letter-spacing: 0.2em;
      margin: 68px 0 23px 0;
    }
    p {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 35px;
    }
    a {
      width: 258px;
      height: 58px;
      background: #fff;
      font-size: 16px;
      letter-spacing: 0.2em;
      padding-top: 18px;
      margin-top: 27px;
      img {
        top: 23.6px;
        right: 26.6px;
      }
    }
  }
}


/* info end */

/* footer-contact begin */

.footer-contact {
  padding: 84px 0;
  background-image: url(../image/bg_contact.png);
  &-ttl {
    padding: 105px 0 84px 0;
    h1 {
      font-size: 30px;
      letter-spacing: 0.2em;
    }
    div {
      width: 61.13px;
      border-bottom: 3px solid #00a7ff;
      margin-top: 34.5px;
      margin-bottom: 62.5px;
    }
    p {
      font-size: 16px;
      letter-spacing: 0.1em;
      line-height: 40px;
    }
  }
  &-info {
    padding: 96px 65px 0 0;
    h1 {
      font-size: 20px;
      span {
        font-size: 45px;
        margin-left: 23px;
        letter-spacing: 0.1em;
      }
    }
    h2 {
      font-size: 16px;
      letter-spacing: 0.2em;
      margin-top: 14px;
    }
    a {
      width: 310px;
      height: 67px;
      padding-top: 20px;
      margin-top: 47px;
      font-size: 20px;
      letter-spacing: 0.1em;
    }
  }
}

.footer-main {
  background-color: #006EA8;
  padding: 105px 0 87px 0;
  .footer-info {
    h1 {
      font-size: 22px;
      letter-spacing: 0.05em;
      span {
        font-size: 27px;
      }
    }
    address {
      font-size: 14px;
      letter-spacing: 0.2em;
      line-height: 35px;
      margin-top: 50px;
    }
  }
  .footer-menu {
    padding: 107px 0 0 70px;
    nav ul {
      grid-template-columns: auto auto auto;
      li {
        position: relative;
        a {
          font-size: 15px;
          padding-left: 19.5px;
          img {
            position: absolute;
            top: 9px;
          }
        }
      }
    }
  }
}
.footer-bottom {
  .content-wrap {
    font-size: 14px;
    padding: 33px 41px;
  }
}